*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}




bbody
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/****************taille********************/

h1{
    font-size: 4rem;
}
.logo_coeur .far{
    font-size: 4rem;
}
.logo_coeur .fas{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h3{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p{
    font-size: 2rem;
}



/*************animation******************/ 

.animation {
    display: flex;
    justify-content: center;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-size: 10rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: tombe 3s linear forwards;
    z-index: 3;
    position: absolute;

}

.animation p{
    font-family: 'Shrikhand', sans-serif;
}

@keyframes tombe{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*teste une postion absolu sur animation*/

/*
body
{
    animation: bouge 2s forwards; 
}
@keyframes bouge 
{
    0% {
      opacity: 0; 
      background-color: #9356DC; 
    }
    50% {
      opacity: 1; 
      background-color: #FF79DA; 
    }
    100% {
      opacity: 1; 
      background-color: linear-gradient(#FF79DA, #9356DC);
    }
}
*/
/****************tete********************/
.logo_titre
{
    
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    & img
    {
        /*width: 200px;
        height: 44px;
        object-fit: fill;*/
    }
    & h1{
        font-family: 'Shrikhand', sans-serif;
        font-size: 6rem;
    }
}

.adresse
{
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: #EAEAEA;
    box-shadow: 1px 1px 10px black;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    color: black;
    margin-bottom: 1px;
    & i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3px;
        height: auto;
    }
    & p
    {
        margin-left: 1.5rem;
        font-size: 2.5rem;
        /*font-weight:bold;*/
    }
}

.adresse .fa-solid{
    font-size: 2rem;
}

/***************bouton***********/

.reservez 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    background: #f6f6f6;
}

.reservez h1
{
    margin: 2rem 8rem 1rem 8rem;
}

.reservez p{
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.reservez .bouton
{
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 10px rgb(150, 149, 149);
    border-radius: 50px;
    padding: 30px 40px 30px 40px;
    margin: 4rem 0;
    color: white;
    font-size: large; 
    background: linear-gradient(#FF79DA, #9356DC);
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 2rem;
}

.bouton:hover{
    box-shadow: 2px 2px 15px white;
}


/****************liste***************/
li
{
    list-style-type: none;
}

.fonctionnement{
    margin: 4rem 3rem;
}

.fonctionnement_liste li
{
    background: #f6f6f6;
    padding: 2rem;
    box-shadow: 0px 5px 10px grey;
    border-radius: 20px;
    margin: 2rem 0rem;
    position: relative;
    font-weight: bold;
}

.fonctionnement_liste .nombre{
    position: absolute;
    left: -24px;
    background-color: #9356DC;
    color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonctionnement_liste .fa-solid
{
    color: #7E7E7E;
    padding: 0 5rem 0 3rem;
}

.fonctionnement_liste .fa-solid:hover{
    color: #9356DC;
}

/**************************restaurant********************/


.restaurants {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #f6f6f6;
    width: 100%;
    padding: 4rem 3rem;
}

.restaurants_1
{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    width: 100%;
}

.image{
    width: 100%;
}

img
{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.restaurants_1_texte
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
}

/**************nouveau*************/

.restaurants_1 a
{
    position: relative;
    text-decoration: none;
    width: 100%;
}

.restaurants_1 .new
{
background-color: #99e2d0;
color: #1b6150;
padding: 6px;
position: absolute;
top: 16px;
right: 16px;
}

/***********coeur***************/
.logo_coeur {
    position: relative;
}

.logo_coeur i {
    position: absolute;
    font-size: 30px;
    top: -15px;
    right: 0px;
}

.logo_coeur .far {
    color: black;
}
/*
.logo_coeur .fas {
    opacity: 0;
    transition: color 0.3s ease;
}

.logo_coeur .fas:hover {
    opacity: 1;
    color: #9356DC;
}
*/
/*
.logo_coeur .fas {
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.logo_coeur:hover .fas {
    opacity: 1;
    color: #9356DC;
    transition: opacity 0.3s ease; 
}
*/
.logo_coeur .fas {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.logo_coeur:hover .fas {
    opacity: 1;
    color: #9356DC;
    transition: opacity 0.3s ease;
}
/***********foter**********************/

footer h3{
    font-family: 'Shrikhand', sans-serif;
}

footer
{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    background-color:#383838;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.fin_bloc
{
    margin-left: 4rem;
}

footer h3
{
    size: 40px;
    margin-bottom: 20px;
}

#fin_de_page a
{
    color: white;
}

footer li
{
    list-style-type: none;
    margin-bottom: 1rem;
    font-size: 2rem;
}

footer a
{
    text-decoration: none;
    /* color: black; */
}